<div id="map" class="map-container"></div>
<style>
    
    </style>
     
    <div id="map"></div>
     
    <div id="points-legend" class="legend">
        <h4><strong>Charge Points</strong></h4>
        <div><span style="background-color: #51e5f8"></span>Live Location</div>
        <div><span style="background-color: #03b800"></span>Business Comunity Points for all EVs</div>
        <div><span style="background-color: #44ff00"></span>Home Community Points for all EVs</div>
        <div><span style="background-color: #000000"></span>Ather Charge Pods </div>
        <div><span style="background-color: #0b00a8"></span>DC Quick Charge Stations</div>
        <div><span style="background-color: #ff0000"></span>Mahindra Charging Stations only </div>
        <div><span style="background-color: #f59b00"></span>Sun Mobility Quick </div>
    </div>
     
    