<!--<div class="razorpay-embed-btn" data-url="https://pages.razorpay.com/pl_H0KG7kJH04OCUT/view" data-text="Pay Now" data-color="#528FF0" data-size="large">
    <script>
      (function(){
        var d=document; var x=!d.getElementById('razorpay-embed-btn-js')
        if(x){ var s=d.createElement('script'); s.defer=!0;s.id='razorpay-embed-btn-js';
        s.src='https://cdn.razorpay.com/static/embed_btn/bundle.js';d.body.appendChild(s);} else{var rzp=window['__rzp__'];
        rzp && rzp.init && rzp.init()}})();
    </script>
  </div>-->
  
  <div class="login-page">
    <mat-card class="mat-elevation-z12">
      <mat-card-title style="text-align:center;">Payments Page</mat-card-title>
      <mat-card-subtitle style="text-align:center;">
          Hope you are done with charging
      </mat-card-subtitle>
        <mat-card-content>
            <form action="">
            <!--<mat-form-field>
            <input matInput [(ngModel)]="Amount" placeholder="ENTER AMOUNT in ₹:" required >   
            </mat-form-field>-->
            <!--<button id="rzp-button1" href="https://pages.razorpay.com/pl_H0KG7kJH04OCUT/view" mat-raised-button class="login-button" color="primary" (click)="pay()">Pay</button>-->
            <button id="rzp-button1" 
            mat-raised-button color="primary" class="login-button" 
            (click)="pay()">
            Proceed to Pay</button>
            <!--<div class="razorpay-embed-btn" data-url="https://pages.razorpay.com/pl_H0KG7kJH04OCUT/view" data-text="Pay Now" data-color="#528FF0" data-size="large">
                <script>
                  (function(){
                    var d=document; var x=!d.getElementById('razorpay-embed-btn-js')
                    if(x){ var s=d.createElement('script'); s.defer=!0;s.id='razorpay-embed-btn-js';
                    s.src='https://cdn.razorpay.com/static/embed_btn/bundle.js';d.body.appendChild(s);} else{var rzp=window['__rzp__'];
                    rzp && rzp.init && rzp.init()}})();
                </script>-->
            </form>
        </mat-card-content>

    <!--<div class="container">
        <button id="rzp-button1" (click)="pay()">PAY</button>
    </div>-->